rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /scores/{scoreId} {
      allow read: if true;

      allow create: if
        request.resource.data.keys().hasAll([
          'playerName',
          'score',
          'gameId',
          'createdAt',
          'perfect'
        ])
        &&
        request.resource.data.keys().hasOnly([
          'playerName',
          'score',
          'gameId',
          'createdAt',
          'perfect'
        ])
        &&
        request.resource.data.playerName is string
        &&
        request.resource.data.playerName.size() >= 1
        &&
        request.resource.data.playerName.size() <= 20
        &&
        request.resource.data.score is int
        &&
        request.resource.data.score >= 0
        &&
        request.resource.data.score <= 1000000
        &&
        request.resource.data.gameId is string
        &&
        request.resource.data.gameId.size() >= 1
        &&
        request.resource.data.gameId.size() <= 40
        &&
        request.resource.data.createdAt is timestamp
        &&
        request.resource.data.perfect is bool;

      // Korvaa ADMIN_UID Firebase Authentication -käyttäjäsi UID:llä.
      allow delete: if request.auth != null
                    && request.auth.uid == 'CAZMXnh54uPwQhsOegywzQIpsag2';

      allow update: if false;
    }
  }
}
